# Prepare
This is the step where we prepare and wrangle the data. That means we're getting it ready to explore in the next step.

## Some things to consider and do:
- Set (or reset) the index 
- Are there columns that should hold derived data? For example, price * sales is revenue

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("lemonade.csv")

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
Date           365 non-null object
Day            365 non-null object
Temperature    365 non-null float64
Rainfall       365 non-null float64
Flyers         365 non-null int64
Price          365 non-null float64
Sales          365 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 20.0+ KB

In [18]:
# Convert the date column to datetime
df['Date'] = pd.to_datetime(df['Date'])


# Since the date column is unique, let's set the date column to be the index
df = df.set_index(df['Date']) 
df = df.drop("Date", 1) # drop the old Date column

df.head()

                  Day  Temperature  Rainfall  Flyers  Price  Sales
Date
2017-01-01     Sunday         27.0      2.00      15    0.3     10
2017-01-02     Monday         28.9      1.33      15    0.3     13
2017-01-03    Tuesday         34.5      1.33      27    0.3     15
2017-01-04  Wednesday         44.1      1.05      28    0.3     17
2017-01-05   Thursday         42.4      1.00      33    0.3     18

In [21]:
# Let's create some derived columns
# Revenue is super useful, so let's do revenue!
df["Revenue"] = df.Price * df.Sales

In [22]:
df.head()

                  Day  Temperature  Rainfall  Flyers  Price  Sales  Revenue
Date
2017-01-01     Sunday         27.0      2.00      15    0.3     10      3.0
2017-01-02     Monday         28.9      1.33      15    0.3     13      3.9
2017-01-03    Tuesday         34.5      1.33      27    0.3     15      4.5
2017-01-04  Wednesday         44.1      1.05      28    0.3     17      5.1
2017-01-05   Thursday         42.4      1.00      33    0.3     18      5.4